[submodule "backend"]
	path = backend
	url = https://github.com/intanadhella/project-library-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/intanadhella/project-library-frontend.git
